# tidecoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.tidecoin
host=127.0.0.1

#mainnet default
port=7585

#testnet default
#port=17585

#regtest default
#port=17595


# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=ecfacea5
genesis=480ecc7602d8989f32483377ed66381c391dda6215aeef9e80486a7fd3018075
input=/home/example/.tidecoin/blocks

# testnet
#netmagic=bace3fda
#genesis=480ecc7602d8989f32483377ed66381c391dda6215aeef9e80486a7fd3018075
#input=/home/example/.tidecoin/testnet/blocks

# regtest
#netmagic=bace3fda
#genesis=c19a1b559b1ea55d7c5ee23031c6a06fb917c641ae896587f42a1847bf2a2e8b
#input=/home/example/.tidecoin/regtest/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
